@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* стилизация заголовков */
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.agreement .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .container nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav li + li {
  margin-left: 50px;
}

.site-nav a {
  display: flex;
  flex-direction: column;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav a:hover, .site-nav a:focus {
  color: #2196f3;
}

.header .contacts {
  display: flex;
  margin-left: auto;
}

.header .contacts li + li {
  margin-left: 50px;
}

.header .contacts a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  fill: #afb1b8;
  color: #757575;
}

.header .contacts a:hover, .header .contacts a:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header .contacts .icon {
  margin-right: 10px;
}

.header .current {
  position: relative;
  color: #2196f3;
}

.header .current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-bottom: -2px;
  transition-property: scaleY;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom;
  background-color: #2196f3;
}

.header .current:hover::after {
  transform: scaleY(2);
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.hero .button {
  display: inline-block;
  padding-right: 32px;
  padding-left: 32px;
  line-height: 1.8;
}

.modal .button {
  padding-right: 55px;
  padding-left: 55px;
  line-height: 1.9;
  align-self: center;
}

.subscribe-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 28px;
  padding-left: 28px;
  line-height: 2;
  text-align: center;
}

.subscribe-form .button svg {
  margin-left: 10px;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo .logo-web {
  color: #2196f3;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo .logo-studio {
  color: #ffffff;
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/команда.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  width: 696px;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-list .icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

.features-list p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features-list li {
  width: 270px;
}

.features-list li + li {
  margin-left: 30px;
}

.features-list .features-list-title {
  margin-bottom: 10px;
  color: #212121;
  font-family: 'Roboto';
}

.our-work {
  padding-bottom: 94px;
}

.our-work .list {
  display: flex;
}

.our-work .list li + li {
  margin-left: 30px;
}

.our-work-card {
  position: relative;
}

.our-work-card::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work-card p {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team .list {
  display: flex;
  text-align: center;
}

.our-team .cards + .cards {
  margin-left: 30px;
}

.our-team .cards-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 31px;
  padding-right: 31px;
  background-color: #ffffff;
}

.names {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.professions {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.icons-networks {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-top: 0px;
}

.networks-list {
  width: 44px;
  height: 44px;
}

.networks-link {
  display: flex;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.networks-link:hover,
.networks-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.networks-link {
  fill: #afb1b8;
}

.our-team .cards {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 0px 0px 4px 4px;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.clients-list {
  width: 170px;
  height: 90px;
}

.clients-link {
  display: flex;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-link:hover, .clients-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.portfolio-section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.horizontal-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.horizontal-buttons li + li {
  margin-left: 8px;
}

.horizontal-buttons li button {
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
}

.horizontal-buttons li button:hover, .horizontal-buttons li button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-section .cards {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-section .cards li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}

.portfolio-section .cards li:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-section .cards li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-section .cards .text {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-section .cards h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-section .cards p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-section .gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-cards-link {
  transition-property: shadow-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-link:hover, .portfolio-cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards-link:hover .text, .portfolio-cards-link:focus .text {
  transform: translateY(-100%);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-left address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 0.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-left .contacts a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-left .contacts a:hover, .footer-left .contacts a:focus {
  color: #2196f3;
}

.footer-left .contacts li + li {
  margin-top: 9px;
}

.footer-right {
  display: flex;
  width: 206px;
  flex-direction: column;
}

.footer-right .networks-link.footer-link-bgc {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-right .networks-link.footer-link-bgc:hover, .footer-right .networks-link.footer-link-bgc:focus {
  background-color: #2196f3;
}

.subscribe {
  margin-left: 93px;
}

.subscribe .subscribe-form {
  display: flex;
}

.subscribe .subscribe-form input[type='email'] {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: opacity 0;
}

.modal .icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal .icon-close:hover svg {
  fill: #2196f3;
}

.modal .icon-close svg {
  position: absolute;
  top: 5px;
  right: 5px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background-color: #ffffff;
}

.modal p {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-field svg {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  fill: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .form-label {
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.form .form-label:first-child {
  margin-top: 0px;
}

.form .textarea {
  padding-left: 16px;
  margin-bottom: 20px;
  resize: none;
  height: 120px;
}

.form .textarea::placeholder {
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .form-input:focus + svg {
  fill: #2196f3;
}

.input-textarea {
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.input-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal .agreement {
  margin-bottom: 30px;
  align-self: center;
  line-height: 0.6;
  color: #757575;
}

.modal .agreement a {
  display: inline;
  text-decoration: underline;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.label-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label-checkbox::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:focus + .label-checkbox::before {
  border: 1px solid #2196f3;
}

.checkbox:checked + .label-checkbox::before {
  background: url(../images/icon-check.svg);
  background-color: #2196f3;
  border-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
}
/*# sourceMappingURL=main.css.map */